body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../img/bg_mario_bros1.png) no-repeat center center fixed;
    background-size: 100% 100%;
}

.container{
    background-color: white;
    margin: 0;
    position: fixed;
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}